[Unit]
Description=Kintsugi Update Notification Timer

[Timer]
# Execute 10 minutes after session startup
OnBootSec=10min
# Execute again every 24 hours
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
